<!-- Side Hamburger Menu -->
<div class="side-menu">
    <ul class="menu-root">
        <li><a href="/">Home</a></li>
        <li>
            <span class="submenu-toggle">Education ▾</span>
            <ul class="submenu">
                <li>
                    <span class="submenu-toggle">Keylogging ▾</span>
                    <ul class="submenu">
                        <li><a href="/education/keylogger">Module 1: Introduction</a></li>
                        <li><a href="/education/keylogger_demo">Module 2: Demo</a></li>
                    </ul>
                </li>
                <li>
                    <span class="submenu-toggle">Reverse Shell ▾</span>
                    <ul class="submenu">
                        <li><a href="/education/reverse-shell">Module 1: Introduction</a></li>
                        <!-- <li><a href="/education/reverse-shell1">Module 2: Techniques</a></li> -->
                    </ul>
                </li>
                <li>
                    <span class="submenu-toggle">Credential Manipulation ▾</span>
                    <ul class="submenu">
                        <li><a href="/education/credential-manipulation">Module 1: Introduction</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>