<!-- {% include 'includes/topic_dropdown.html' %} -->
<!-- Dropdown menu has a bug, but we can try to fix it later since this is an unnecessary feature for now. -->

<!-- Dropdown Menu for Attack Selection -->
<div class="container">
    <div class="select-container">
        <label for="attack-select">Select Topic:</label>
        <select id="attack-select">
            <option value="/education/keylogger" selected>Keylogging</option>
            <option value="/education/reverse-shell">Reverse Shell Attacks</option>
            <option value="/education/credential-manipulation">Credential Manipulation</option>
        </select>
    </div>
</div>